.incident-details {
    padding: 0 10px 10px 10px;
    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
        justify-content: left;
    }
    .ant-tabs-nav {
        height: auto;
    }
}