.loader {
	position: fixed;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	width: 100px;
	height: 100px;
	z-index: 9999;
	background-image: url(./Eclipse-1s-84px.gif);
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
	.loader {
		width: 30%;
	}
}
