.loader {
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 35px);
	width: 70px;
	height: 69px;
	background-image: url(./cp_loader_70.gif);
	box-sizing: content-box;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
	.loader {
		width: 30%;
	}
}
