.ant-tabs-nav-list {
  button {
    margin: 0 2px;
  }
  @media (min-width: 1400px) {
    button {
      margin: 0 10px;
    }
  }
}

.action-card-title {
  & > p {
    font-size: 14px;
    font-weight: 500;
    color: #001737;
    padding: 0;
    margin: 0;
  }

  @media (min-width: 1200px) {
    & > p {
      font-size: 16px;
    }
  }

  span {
    background-color: #cdd4e0;
    font-size: 10px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    padding: 3px 5px 4px;
    border-radius: 3px;
  }
}

.action-card-subheader {
  font-size: 12px;
  width: fit-content;
  color: white;
  font-weight: 500;
  margin-top: 5px;
}

.action-card-content {
  font-size: 13px;
  white-space: pre-wrap;
  color: black;
  margin-top: 10px;
}

.msg-number {
  font-size: 0.9rem;
  color: #0168fa;
}
.avatar-initial {
  background-color: pink;
  font-weight: 400;
  font-size: 10px !important;
}

.bt-markcomp {
  height: 24px  !important;
  margin-left: 5px;
  line-height: 24px;
  padding: 0 9px !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  .ant-btn {
    height: 24px !important;
  }
  span {
    font-size: 12px;
  }
  &:hover {
    background-color: #e2fffa !important;
    border-color: #00bf9c !important;
    border-style: solid !important;
    color: #00bf9c !important;
    fill: #00bf9c !important;
  }
}