.action-card-title {
  & > p {
    font-size: 14px;
    font-weight: 500;
    color: #001737;
    padding: 0;
    margin: 0;
  }

  @media (min-width: 1400px) {
    & > p {
      font-size: 18px;
    }
  }

  label {
    background-color: #cdd4e0;
  }
}

.action-card-subheader {
  font-size: 12px;
  width: fit-content;
  color: white;
}

.action-card-content {
  white-space: pre-wrap;
  color: black;
  margin-top: 10px;
}

.bt-markcomp {
  height: 24px  !important;
  margin-left: 5px;
  line-height: 24px;
  padding: 0 9px !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  .ant-btn {
    height: 24px !important;
  }
  span {
    font-size: 12px;
  }
  &:hover {
    background-color: #e2fffa !important;
    border-color: #00bf9c !important;
    border-style: solid !important;
    color: #00bf9c !important;
    fill: #00bf9c !important;
  }
}