.task-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .task-bar-edit-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 100%;

    .plus_box {
      height: 100%;
      display: flex;
      width: 85px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid rgba(72, 94, 144, 0.16);
    }

    .editor {
      width: 95%;
      height: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      border: 1px solid #ddd;
      cursor: text;
      border-radius: 2px;
      background: #fefefe;
    }

    .editor :global(.public-DraftEditor-content) {
      min-height: 140px;
      display: flex;
      align-items: center;
    }
    .DraftEditor-root {
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  .options {
    &-icon {
      margin-right: 10px;
    }
    margin-right: 10px;
    button {
      width: auto;
      margin-right: 10px;
      border: none;
      background: none;
    }
    position: relative;
  }
}