.chat-content-footer {
  .editor {
    height: fit-content;
    padding: 0;

    .custom-mention_text-area {
      .DraftEditor-root {
        border: none;
        border-radius: 0;
        height: 60px;
        min-height: 38px;
        line-height: 1.5715;
        vertical-align: bottom;
        align-items: center;
        display: flex;
        &:focus-within {
          color: #596882;
          background-color: #fff;
          border: none;
          outline: 0;
          box-shadow: none !important;
        }
      }
    }
  }
}
