.chat-content-footer {
  .editor {
    height: fit-content;
    padding: 0;

    .custom-mention_text-area {
      .DraftEditor-root {
        border-radius: 0;
        &:focus-within {
          color: #596882;
          background-color: #fff;
          border: 1px solid #c0ccda!important;
          outline: 0;
          box-shadow: none !important;
        }
      }
    }
  }
}
