.incident-sidebar {
    .ant-tabs-top > .ant-tabs-nav {
        margin: 0;
      }
      
    .ant-tabs-tab {
        padding: 7px 0 8px 0;
      }
      
    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
        height: initial;
      }
      
    .ant-tabs-tab {
        margin: 0 0 0 15px !important;
      }
      
    .ant-tabs-tab:first-child {
        margin: 0 !important;
      }
      
    .action-panel__iconlist {
        padding: 1px 0 6px 0;
        justify-content: left;
      }
    
      .action-panel .action-tab-content {
        padding: 0;
    }

    .ant-tabs {
        color: #596882;
    }

    .ant-tabs-tab:hover {
        color: #0168fa;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        font-weight: inherit;
        color: #0168fa;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .form-group label:first-child, .form-group div.col-sm-8 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .action-panel {
        padding: 8px;
    }

    .col-form-label {
        padding-top: calc(0.46875rem + 1px);
        padding-bottom: calc(0.46875rem + 1px);
        font-size: 13px;
        color: #3b4863;
    }
  }