.ant-tabs-nav-list {
  width: 100%;
  display: flex;
  flex: 1 1;
  justify-content: center;
  button {
    margin: 0 10px;
  }
  @media (min-width: 1400px) {
    width: 100%;
    display: flex;
    flex: 1 1;
    justify-content: space-around;
    button {
      margin: 0;
    }
  }
}