.ant-dropdown-title {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.option-item {
  display: flex;
  align-items: center;
  &__label {
    margin-left: 10px;
  }
  color: #555;

  &:hover {
    background-color: #888;
  }
}