.action-panel {
  padding: 5px;
  display: flex;
  flex-direction: column;
  &__iconlist {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    padding-bottom: 5px;
  }
  .custom-rad {
    align-items: center;
    //background-color: #0168fa;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    button {
      padding: 0.36875rem !important;
      width: 100%;
      flex: 1 1;
    }
  }

  .ant-radio-button-wrapper-checked {
    background-color: #64738f !important;
    border: 1px solid #64738f;
    box-shadow: none;
    span {
      color: white;
      &:hover {
        color: white;
      }
    }
    &:before {
      display: none !important;
    }
  }
  .ant-input {
    margin-top: 5px;
    border-radius: 4px;
  }
  .place-container {
    input {
      height: calc(1.5em + 0.9375rem + 3px);
    }
  }
  .ant-input-affix-wrapper {
    margin-top: 5px;
  }

  .fa-siren-on {
    &:before {
      content: "\f92e";
    }
  }
  .fad:before {
    position: absolute;
    opacity: 1;
  }
  .fa-fire-alt:before {
    content: "\f7e4";
  }
  .fad.fa-fire-alt:after {
    content: "\10f7e4";
  }
  .vertical_line {
    width: 1px;
    height: 20px;
    border-right: solid 1px #8392a5;
    margin: 0 10px 0 0;
  }

  .action-icon-font {
    font-size: 1.35em;
  }
  @media (min-width: 1200px) {
    .action-icon-font {
      font-size: 1.15rem;
    }
  }

  .action_tab_a {
    .action-icon-font {
      margin-right: 10px;
    }
    svg {
      cursor: pointer;
    }
    .options-icon.selected {
      color: #1b2e4b;
    }
    @media (min-width: 1200px) {
      .action-icon-font {
        margin-right: 13px;
      }
    }
  }

  .action_tab_b {
    .action-icon-font {
      margin-right: 10px;
    }
  }

  .action_part {
    display: flex;
    align-items: center;
  }

  .btn-dim.btn-outline-primary {
    color: #6576ff;
    background-color: #eef0ff;
    border-color: #c1c8ff !important;
    margin: 0;
    &.selected {
      background-color: #6576ff;
      color: #eef0ff;
    }
  }
  .btn-outline-primary {
    color: #6576ff;
    border-color: #6576ff;
  }
  .btn {
    display: inline-block;
    font-family: Nunito,sans-serif;
    font-weight: 700;
    color: #526484;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .4375rem 1.125rem;
    font-size: .8125rem;
    line-height: 1.25rem;
    border-radius: 4px;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(101,118,255,0.5);
  }
}

.ant-tabs-tab {
  margin: 0 10px 0 0 !important;
}

.col-form-label {
  padding-top: calc(0.46875rem + 1px);
  padding-bottom: calc(0.46875rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  padding-right: 0 !important;
}



.input-group-prepend {
  display: flex;
  justify-content: space-between;
  select {
    width: 60px;
  }
}
