.action-panel {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  &__iconlist {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    padding-bottom: 5px;
  }

  .ant-input {
    margin-top: 5px;
    border-radius: 4px;
  }
  .ant-input-affix-wrapper {
    margin-top: 5px;
  }
}