.mail-body {
  display: flex;
  width: auto;
}
.mail-content {
    &__footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
      }
}