$active_link_color: #0168fa;
$medium_light_text_color: #596882;
$validation_error_color: #dc3545;

@import "theme/color";
@import "components/common/CustomTab/custom";
@import "components/App/App";
@import "components/App/Layout";
