$active_link_color: #0168fa;
$medium_light_text_color: #596882;

@import "theme/color";
@import "components/common/CustomTab/custom";

.ant-tabs {
    color: $medium_light_text_color !important;
}

.ant-tabs-tab:hover, .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: inherit !important;
    color: $active_link_color !important;
}
